# Please also refer to the svn ignore
*.class
*/.classpath
*/.project
*/.metadata
*/.settings/org.jdt.core.prefs
*.aux
*.toc
*.out
*.log
*.synctex.gz
*.bbl
*.blg
*.dvi
*/bin

# Taken from githubs gitignore for eclipse and adapted
*.pydevproject
*.tmp
*.bak
*.swp
*~.nib
*.launch
.cproject

# Additional ignores
*~
